In [1]:
def func():
    print('Hello, Function')
func()

Hello, Function

In [3]:
def func(name):
    print('Hello, '+name)
name = 'minsu kim'
func(name)

Hello, minsu kim

In [8]:
def func(a,b):
    return a + b
type(func(1,3))

int

In [10]:
def func(a,b):
    return a+b, a-b
type(func(5,4))

tuple

In [10]:
def calc(a,b):
    print(f'덧셈 : {a+b}, 뺄셈 : {a-b}, 나눗셈 : {a/b}')
    return a+b,a-b,a/b
a= int(input("정수 : "))
b= int(input('정수 : '))
a=calc(a,b)

정수 : 45
정수 : 45
덧셈 : 90, 뺄셈 : 0, 나눗셈 : 1.0

In [20]:
import random
def make_lotto_number():
    return [random.randint(1,45) for x in range(6)]
number = make_lotto_number()
print(number)

[1, 11, 40, 19, 3, 15]

In [37]:
a=1
b=2
d=5
def func1():
    a =3 
    b=4
    print(a,b,c)
func1()

3 4 3
5 6 2
3 4 3

In [35]:
def func2():
    a = 5 
    b = 6
    c = 2
    func1()
    print(a,b,c)
func2()

3 4 3
5 6 2

In [30]:
print(a,b)

1 2

In [14]:
def allindex(a,b):
    c=[]
    for i,j in enumerate(a):
        if a[i] == b:
            c.append(i)
    print(c)
    return c

lis = [1,2,3,1,4,2,1]
c = allindex(lis,1)
type(c)

[0, 3, 6]

list

### 강사님이 하신거

In [15]:
def allindex(l,target):
    result = []
    for idx,x in enumerate(l):
        if x == target:
            result.append(idx)
    return result

In [16]:
lis = [1,2,3,1,4,2,1]

In [19]:
allindex(lis,3)

[2]

In [20]:
import math
def euclidean_distance(pos1,pos2):
    if type(pos1) != type(pos2) != type(list()):
        print('Error')
        return None
    total = 0
    for p1,q1 in zip(pos1,pos2):
        total += (p1-q1)**2
    return math.sqrt(total)

In [23]:
pos1 , pos2 = [2,1,3],[5,5,1]
euclidean_distance(pos1,pos2)

5.385164807134504

In [26]:
(lambda x : x**2)(3)

9

In [27]:
mul_func = lambda x,y : x*y

In [28]:
mul_func(3,1)

3

In [30]:
def func(a,b,c):
    print(a,b,c)
x = [1,2,3]
func(*x)

1 2 3

In [32]:
def func(*args):
    for arg in args:
        print(arg)
func(1)
func(1,2,3,4,5,6)

1
1
2
3
4
5
6

In [34]:
def func(a,*args):
    print(a,end=" ")
    for arg in args:
        print(arg,end = ' ')
func(100,1,2,3,4,5)

100 1 2 3 4 5

In [15]:
def func(email,name):
    print('이메일 :',email)
    print('이름',name)
    
    return {
        'name' : name,
        'email' : email
    }
func(email = 'aa@aa.com', name = 'tom')
x = {'email':"aa@aa.com",'name':'tom'}
func(**x)

이메일 : aa@aa.com
이름 tom
이메일 : aa@aa.com
이름 tom

{'name': 'tom', 'email': 'aa@aa.com'}

## 함수값의 리스트 사용

In [5]:
def func1(a,b,c):
    return a+b+c
func1(1,2,3)

6

In [8]:
a = list(range(3))
func1(*a)

3

In [9]:
def func1(a,b,c):
    print(a,b,c,sep = "--")
    return a+b+c

In [10]:
func1(*a)

0--1--2

3

In [11]:
def func2(*args):
    print(type(args))
    
    print('-'*10)
    
    for arg in args:
        print(arg)
        
    return sum(args)

In [14]:
a=[1,2,3,4]
func2(*a)

<class 'tuple'>
----------
1
2
3
4

10

In [25]:
def make_list(a):
    l =[]
    t= ''
    for i in a:
        if i ==',':
            l.append(t)
            t =''
            continue
        t += i
    return l
make_list('1,23,1,23,1')

SyntaxError: invalid syntax (<ipython-input-25-94f1e160618b>, line 10)

In [26]:
def func6(name,email,age =20):
    print('이메일:',name)
    print('이름:',email)
    print('나이:',age)

In [27]:
func6('김민수', 'msoo6465@gmail.com')

이메일: 김민수
이름: msoo6465@gmail.com
나이: 20

In [28]:
def last_func(name,email,addr=None,age=20,*args,**kwargs):
    print('name:', name)
    print('email:',email)
    print('age',age)
    
    if addr is None:
        addr = '서울시'
    print('addr:',addr)
    
    print('-'*10,'args 시작')
    for arg in args:
        print(arg)
        
    print('-'*10,'kwargs 시작')
    for key in kwargs:
        print(key,kwargs[key])

In [30]:
last_func('김민수','msoo6465@gmail.com','인천시',40,1,2,3, is_korean = True,birth='0305')

name: 김민수
email: msoo6465@gmail.com
age 40
addr: 인천시
---------- args 시작
1
2
3
---------- kwargs 시작
is_korean True
birth 0305

In [43]:
def calc(a,*args):
    for idx,arg in enumerate(args):
        if idx ==0:
            t = args[0]
        elif idx > 0:
            if a == '+':
                t += arg
            elif a =='-':
                t -= arg
            elif a == '*':
                t *= arg
            elif a == '/':
                t /=arg
    return t

calc('+',1,2,3,4,5)

15

In [60]:
def calc(oper, *args):
    if oper == '+':
        return sum(args)
    
    elif oper == '-':
        criteria = args[0]
#         첫번째 방법
#         for x in args[1:]:
#             criteria -= x
#         return criteria
#     두번째 방법
        return criteria -(sum(args[1:]))
    
    elif oper =='*':
        result = 1
        for x in args[1:]:
            result *=x
        return result
    else:
        print('Error 발생 철번째 인수는 연산자여야 합니다.')
        return None
    pass

In [61]:
calc('-',1,2,3,4,5)

-13

In [65]:
calc('+',1,2,3,4,5)

15

In [64]:
calc('*',1,2,3,4,5)

120

In [55]:

def calc2(*args):
    max_0 = max(args)
    min_0 = min(args)
    
    average = 0
    sum_0 = 0
    
    for arg in args:
        sum_0 += arg
        
    average = sum_0/len(args)
    
    print(max_0,min_0,average)
    
    return max_0,min_0,average

In [66]:
def cal(*args):
    print('최대값: {}, 최소값: {}, 평균값: {}'.format(max(args),min(args),sum(args)/len(args)))

In [67]:
cal(1,99)

최대값: 99, 최소값: 1, 평균값: 50.0

In [77]:
class Dog:
    def __init__(self,name,color):
        self.hungry =0
        self.name = name
        self.color = color
    def eat(self):
        self.hungry -=10
        print('밥먹음',self.hungry,self)
    def walk(self):
        self.hungry +=10
        print('산책',self.hungry,self)
choco = Dog('choco','black')
jjong = Dog('jjaong','white')

choco.eat()
choco.eat()
choco.walk()
jjong.walk()
print(choco.hungry)
print(jjong.hungry)
choco.name

밥먹음 -10 <__main__.Dog object at 0x0000000005B9E278>
밥먹음 -20 <__main__.Dog object at 0x0000000005B9E278>
산책 -10 <__main__.Dog object at 0x0000000005B9E278>
산책 10 <__main__.Dog object at 0x0000000005AFA438>
-10
10

'choco'

In [76]:
my_dog = Dog('da','white')
my_dog.weight = 10
print(my_dog.weight)

10

In [78]:
a = [1,2,3,4]

In [79]:
a.append(5)

In [80]:
a

[1, 2, 3, 4, 5]

In [151]:
class Car(object):
    total_num =0
    
    @staticmethod
    def call_119():
        return '119'
    @classmethod
    def get_total_car(cls):
        return cls.total_num
    
    def __init__(self,model,engine_rank):
        self.model = model
        self.engine_rank = engine_rank
        self.__speed = 0
        Car.total_num += 1
        
    def accelerate(self):
        self.__speed += 10
        return True
    def break_push(self):
        self.__speed -= 10
        return True

In [119]:
class BMWCar(Car):
    pass

In [154]:
my_car = Car('Toyota','S')
your_car = Car('Toyota','S')
hers_car = Car('Toyota','S')
his_car = Car('Toyota','S')

### dir 해당 변수가 가지고 있는 데이터 타입이나 클래스의 속성이나 메소드를 반환하는 함수

In [133]:
minsu_car = BMWCar('BMW','A')

In [144]:
my_car.total_num

4

In [149]:
Car.call_119()

'119'

In [141]:
dir(object)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [150]:
my_car.call_119()

'119'

In [155]:
Car.get_total_car()

4

In [4]:
a = {
    'name': 'tom',
    'email':'tom@gmail.com',
}
b = dict(
    name = 'tom',
    email = 'tom@gmail.com')

In [5]:
a,b

({'name': 'tom', 'email': 'tom@gmail.com'},
 {'name': 'tom', 'email': 'tom@gmail.com'})

In [7]:
a= '123,1241,15,1231,23,4'
b= a.split(',')

In [8]:
b

['123', '1241', '15', '1231', '23', '4']

In [9]:
c= a.join(',')

In [10]:
c

','

In [106]:
class Car(object):
    num_car = 0
    
    def __init__(self,name,cc,year):
        self.__name = name
        self.__cc = cc
        self.__year = year
        Car.num_car += 1
        
    def change_dict(self,val_dict):
        val_dict = {'name':self.__name,
             'cc':self.__cc,
             'year':self.__year}
        return val_dict
        
    def get_name(self):
        return self.__name
    def get_cc(self):
        return self.__cc
    def get_year(self):
        return self.__year
    
        
    def change_name(self,chang_name):
        self.__name = chang_name
        print(self.__name)
        
    def check_cc(self):
        if self.__cc <=1000:
            print('소형')
        elif self.__cc <= 2000:
            print('중형')
        elif self.__cc > 2000:
            print('대형')
            
    @classmethod
    def total_car(cls):
        print("총 생산된 차는 : ",cls.num_car)

In [116]:
my_car = Car('BMW',1400,'2018')
your_car = Car('HONDA',900,'2006')
future_car = Car('KiA',4000,'2025')

In [115]:
my_car.check_cc()
your_car.check_cc()
future_car.check_cc()

중형
소형
대형

In [91]:
my_car.change_name('bmw')
your_car.change_name('honda')
future_car.change_name('kia')

bmw
honda
kia

In [93]:
Car.total_car()

총 생산된 차는 :  3

In [110]:
s = {}
my_car.change_dict(s)

{'name': 'BMW', 'cc': 1400, 'year': '2018'}

In [117]:
my_car.total_car()

총 생산된 차는 :  6

In [118]:
Car.total_car()

총 생산된 차는 :  6

### 강사님 연습문제 풀이

In [174]:
class Car(object):
    total = 0
    year_dict = {}
    
    
    def __init__(self,name,cc,year):
        self.__name = name
        self.__cc = cc
        self.__year = year
        
        Car.plus_total()
        Car.add_year_dict(self)
        
    @classmethod
    def plus_total(cls):
        cls.total += 1
        
    @classmethod
    def add_year_dict(cls,instance):
        if instance.__year not in cls.year_dict:
            cls.year_dict[instance.__year] = []
        
        cls.year_dict[instance.__year].append(instance)
        
    @classmethod
    def get_cars_by_year(cls,year):
        year_dict = cls.year_dict
        if year not in year_dict:
            return []
        else:
            return year_dict[year]
        
    def change_name(self,new_name):
        self.__name = new_name
        return self.__name
    
    def get_size(self):
        if self.__cc <= 1000:
            return '소형'
        elif self.__cc < 2000:
            return '중형'
        else:
            return '대형'
        
    def get_name(self):
        return self.__name
    def get_cc(self):
        return self.__cc
    def get_year(self):
        return self.__year
    
    @classmethod
    def get_total_num(cls):
        return cls.total
    
    def __repr__(self):
        return "[{},{},{}]".format(self.__name , self.__cc , self.__year)

In [175]:
my_car = Car('BMW',1400,'2018')
your_car = Car('HONDA',900,'2006')
future_car = Car('KiA',4000,'2025')
my_car2 = Car('BMW',1400,'2018')
your_car2 = Car('HONDA',900,'2006')
future_car2 = Car('KiA',4000,'2025')
my_car3 = Car('BMW',1400,'2018')
your_car3 = Car('HONDA',900,'2006')
future_car3 = Car('KiA',4000,'2025')
my_car4 = Car('BMW',1400,'2018')
your_car4 = Car('HONDA',900,'2006')
future_car4 = Car('KiA',4000,'2025')

In [176]:
Car.get_cars_by_year('2018')

[[BMW,1400,2018], [BMW,1400,2018], [BMW,1400,2018], [BMW,1400,2018]]

In [177]:
car_2018 = Car.get_cars_by_year('2018')

In [178]:
for car in car_2018 : 
    size= car.get_size()
    print(size)

중형
중형
중형
중형

In [179]:
for idx,car in enumerate(car_2018):
    new_name = '2019_%s'

# 연식에 따라 나누기

### 첫번째 방법

#### 클레스 밖에서 딕셔너리를 이용

In [127]:
my_dict = {}

In [129]:
year = my_car.get_year()

In [130]:
if year not in my_dict:
    my_dict[year] = []

In [131]:
my_dict[year].append(my_car)

In [132]:
my_dict

{'1994': [<__main__.Car at 0x5d46828>]}

In [ ]:
my_car = Car('중고차',2000,'1994')
#  여기서 부터 
def add_dict_car(my_dict, car):
    year = car.get_year()
    if year not in my_dict:
        my_dict[year] = []
    my_dict[year].append(car)

### 두번째 방법

#### 클레스 함수를 이용하자

In [1]:
for car in car_2018

SyntaxError: invalid syntax (<ipython-input-1-9532618310f4>, line 1)

In [3]:
import sys

In [4]:
sys.path

['C:\\Users\\student\\study',
 'C:\\ProgramData\\Anaconda3\\python37.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\student\\.ipython']

In [10]:
print('im','minsu','ja')

im minsu ja

In [11]:
print(1,2,3)

1 2 3

In [12]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']