In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
s[1]

3.0

In [5]:
s[0]

1.0

In [6]:
s1 = pd.Series([1,3,5,np.nan,6,8])
s1

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
s1.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
s1.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [10]:
s1 = pd.Series([np.nan,np.inf,0,1,2,3,'a','b','c'])
s1

0    NaN
1    inf
2      0
3      1
4      2
5      3
6      a
7      b
8      c
dtype: object

In [11]:
s1.values

array([nan, inf, 0, 1, 2, 3, 'a', 'b', 'c'], dtype=object)

In [13]:
index_seq = range(10,20)
seq_data = range(10)
s2 = pd.Series(seq_data,index = index_seq)
s2

10    0
11    1
12    2
13    3
14    4
15    5
16    6
17    7
18    8
19    9
dtype: int64

In [15]:
index_data = ['2018-10-17','2018-10-18','2018-10-19','2018-10-20']
s3 = pd.Series([200,195,np.nan,205],index = index_data)
s3

2018-10-17    200.0
2018-10-18    195.0
2018-10-19      NaN
2018-10-20    205.0
dtype: float64

In [16]:
s1 = pd.Series((range(10,70,10)))
s2 = pd.Series((range(1,6)))

print(repr(s1))

print(repr(s2))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
s1+s2

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5     NaN
dtype: float64

In [18]:
s1*s2

0     10.0
1     40.0
2     90.0
3    160.0
4    250.0
5      NaN
dtype: float64

In [19]:
print(s1)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [21]:
s1/s2

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5     NaN
dtype: float64