In [ ]:
x= 10
a,b,c=100,200,300
print(x)
print(a,b,c)

In [2]:
x=20
print(x)

20

In [3]:
type(10)

int

In [4]:
type(3.5)

float

# 연산자

In [5]:
a=10
b=20

a*b

200

In [6]:
a/b

0.5

In [7]:
a-b

-10

In [8]:
a**b

100000000000000000000

In [9]:
a=2
b=3

In [10]:
a**b

8

In [11]:
a//b

0

In [12]:
a%b

2

In [13]:
3+3.0

6.0

In [14]:
3*3.0

9.0

In [19]:
a=7
b=3.0
c=a//b
d=a%b
e=a**b
c,d,e

(2.0, 1.0, 343.0)

In [21]:
a=4.33
b=1.24
c=a//b
d=a%b
c,d

(3.0, 0.6100000000000001)

In [23]:
mike=80
judy = 75
sera = 100
sum=mike+judy+sera
avr=sum/3

int(avr)

85

In [24]:
3==2

False

In [25]:
3!=2

True

In [29]:
int(a)

4

In [28]:
print(int(a))

4

In [30]:
str(4)

'4'

In [3]:
num1 = int(input("입력1 :"))
num2 = int(input("입력2 :"))
num3 = int(input("입력3 :"))

print(num1>64 and num2>64 and num3>64)

입력1 :65
입력2 :76
입력3 :15
False

In [4]:
x=None
print(x)
print(type(x))

None
<class 'NoneType'>

# 문자열

In [5]:
first = "Hello, world"

In [6]:
a='hello'
b='world'
a+b

'helloworld'

In [7]:
a='he llop'

In [8]:
print(a)

he llop

In [9]:
a='ejs
efsdf.'

SyntaxError: EOL while scanning string literal (<ipython-input-9-ca09f8ada26a>, line 1)

In [10]:
a="dfs
sdfsdf
sdf"

SyntaxError: EOL while scanning string literal (<ipython-input-10-33ccb3b1d412>, line 1)

In [11]:
a='''sdfsdf
sdfsdf
sdfsfd'''

In [12]:
print(a)

sdfsdf
sdfsdf
sdfsfd

In [13]:
print("hello \nworld")

hello
world

In [14]:
quote = 'hello world'
quote[0]

'h'

In [15]:
quote[10]

'd'

In [17]:
quote[0:10:3]

'hlwl'

In [18]:
name = "안녕하세요. 저는 %s입니다." %'김민수'
print(name)
intro = '안녕하세요. 저는 김민수입니다.'
intro2 = '안녕하세요. 저는 누구니입니다.'

안녕하세요. 저는 김민수입니다.

In [21]:
name = '김민수'
name1 = '누구니'
intro = '안녕하세요. 저는 %s입니다.'

print(intro %name1)

안녕하세요. 저는 누구니입니다.

In [22]:
name = input("이름 : ")
intro = '안녕하세요. 저는 %s입니다'
print(intro %name)

이름 : 김민수
안녕하세요. 저는 김민수입니다

In [23]:
age = input("나이 : ")
intro = '안녕하세요. 저는 %s살입니다'
print(intro %age)

나이 : 13
안녕하세요. 저는 13살입니다

In [27]:
height = 173.0
intro = '안녕하세요. 저의 키는 %.2f입니다.'
print(intro %height)

안녕하세요. 저의 키는 173.00입니다.

In [38]:
quote = '안녕하세요. 저는 {0}이고, 키는 {1} 입니다.'.format(name, height)
quote

'안녕하세요. 저는 김민수이고, 키는 173.0 입니다.'

In [41]:
name = '김민수'
loc = '서울'
intro = f'저는 {name}이고 {loc}에 삽니다'
intro

'저는 김민수이고 서울에 삽니다'

In [53]:
a='20190505chinken19000'

year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year, day, menu, money, sep=", ")

2019, 0505, chinken, 19000

In [61]:
a='90:30:80'
math = int(a[0:2])
english = int(a[3:5])
science = int(a[6:])

average = (math+english+science)/3
print(average)

66.66666666666667

# 문자열 함수

In [64]:
quote = 'my best career partner'
print(len(quote))
quote2 = 'hello'
len(quote2)

22

5

In [67]:
quote2.index('l')

2

In [68]:
quote

'my best career partner'

In [70]:
upper_quote = quote.upper()

In [71]:
upper_quote.lower()

'my best career partner'

In [72]:
quote2.replace('he', 'hi')

'hillo'

In [75]:
quote.count(' ')

3

In [76]:
quote = '      ' + quote
quote

'      my best career partner'

In [77]:
quote.strip()

'my best career partner'

In [79]:
quote = quote+'          '

In [80]:
quote

'      my best career partner          '

In [83]:
quote.rstrip()

'      my best career partner'

In [85]:
fruits = 'pear, apple, grape, mango, watermelon'

fruit_list = fruits.split(',')

In [90]:
len(fruit_list)

5

In [94]:
','.join(fruit_list)

'pear, apple, grape, mango, watermelon'

In [96]:
a = [1, 2, 3, 'a', 'b', 'c']
type(a)

list

In [97]:
tuple_a = (1, 2, 3, 'a', 'b', 'c')

In [98]:
type(tuple_a)

tuple

In [99]:
a[0] = 0
a

[0, 2, 3, 'a', 'b', 'c']

In [101]:
tuple_a[0]

1

In [106]:
dict_me = { 
    'name': '김민수'
    'height':180
    'address': '서울'
}
dict_me

SyntaxError: invalid syntax (<ipython-input-106-34acfed0760b>, line 3)

In [108]:

int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [112]:
bool('''

''')

True

In [113]:
a=[1, 2, 3, 4]
b=(1, 2, 3, 4)

print(a[2],b[1])

3 2

In [115]:
range(10)

range(0, 10)

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
range(2,10)

range(2, 10)

In [118]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
list(range(2,10,2))

[2, 4, 6, 8]

# 리스트

In [121]:
list1= ['a', 'b', 'c', 'd']
list1[3]

'd'

In [122]:
list1[-2]

'c'

In [123]:
a=list1
b=['d','e', 'f']

In [124]:
'a' in b

False

In [125]:
'd' in b

True

In [126]:
empty_list = []
empty_list.append(1)
empty_list

[1]

In [127]:
empty_list.append(3)

In [128]:
empty_list

[1, 3]

In [129]:
empty_list.pop()

3

In [130]:
num = empty_list.pop()

In [131]:
num

1

In [133]:
empty_list.append('a')

In [134]:
empty_list

['a']

In [135]:
empty_list.extend(['a','b','c'])

In [136]:
empty_list

['a', 'a', 'b', 'c']

In [137]:
list_a=[1,2,3,4]
list_a

[1, 2, 3, 4]

In [138]:
list_b= list_a
list_b

[1, 2, 3, 4]

In [139]:
a=10
b=a
b

10

In [140]:
a += 1

In [141]:
a

11

In [142]:
b= b+1
print(a)
print(b)

11
11

In [143]:
list_b[2]=5
list_b

[1, 2, 5, 4]

In [144]:
list_a

[1, 2, 5, 4]

### 해결책

In [145]:
list_b = list_a.copy()
list_b

[1, 2, 5, 4]

In [146]:
list_b[2]=3
print(list_a)
print(list_b)

[1, 2, 5, 4]
[1, 2, 3, 4]

# 다차원 리스트

In [148]:
dim2_list = [[1,2],[3,4]]
dim2_list

[[1, 2], [3, 4]]

In [149]:
dim2_list[0]

[1, 2]

In [150]:
len(dim2_list)

2

In [151]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

[[1, 2], [3, 4]]

In [152]:
a=('a','b')
b=list(a)
b

['a', 'b']

In [153]:
b[0]='c'
a

('a', 'b')

In [154]:
b

['c', 'b']

In [155]:
dim2_list[1][0]

3

In [156]:
score = {"name":"tom","math":80,"enlish":70}
score["name"]

'tom'

In [157]:
score["math"]

80

In [158]:
b= dict(name='tom',english=100,math=70)
b

{'name': 'tom', 'english': 100, 'math': 70}

In [159]:
'name' in b

True

In [160]:
n in b

NameError: name 'n' is not defined

In [161]:

'n' in b

False

In [162]:
1 in b

False

In [163]:
100 in b

False

In [164]:
'100' in b

False

In [165]:
'tom' in b

False

In [166]:
'math' in b

True

In [167]:
b= dict(name='tom', score = {'math': 80,'english':99})
len(b)

2

In [168]:
b['score']['science'] = 100
b

{'name': 'tom', 'score': {'math': 80, 'english': 99, 'science': 100}}

In [169]:
b['score']['science'] = 12
b

{'name': 'tom', 'score': {'math': 80, 'english': 99, 'science': 12}}

In [176]:
print('안녕하세요 python~!')
a=['안','녕','하','세','요']
b="".join(a)
print(b+'!')

안녕하세요 python~!
안녕하세요!

In [1]:
my_tuple = (1, 2, 3, 4, 5)
type(my_tuple)

tuple

In [5]:
my_tuple2 = 1,
type(my_tuple2)

tuple

# 연산자 보충

In [6]:
a=1
a= a+1
print(a)

2

In [7]:
a += 1
print(a
     )

3

In [8]:
a *= 4
print(a)

12

In [9]:
str_1 = '''Life is short,
you need python'''
str_1

'Life is short,\nyou need python'

In [10]:
print(str_1)

Life is short,
you need python

In [14]:
a_dict = dict(
name = 'minsu',
height = '175',
score = [1,2,3],
stc = '...',
acer = 'dds')
print(a_dict)

{'name': 'minsu', 'height': '175', 'score': [1, 2, 3], 'stc': '...', 'acer': 'dds'}

In [15]:
from pprint import pprint

In [16]:
pprint(a_dict)

{'acer': 'dds',
 'height': '175',
 'name': 'minsu',
 'score': [1, 2, 3],
 'stc': '...'}

In [19]:
a = [1,2,3,4,5]
b = a.copy()

In [20]:
b

[1, 2, 3, 4, 5]

In [23]:
a.append(6)
print(b)

[1, 2, 3, 4, 5]

In [25]:
a=b
b[0] =5 
print(a)
print(b)

[5, 2, 3, 4, 5]
[5, 2, 3, 4, 5]

In [26]:
a= [[1,2], [3,4],[5,6]]
b= a.copy()
b

[[1, 2], [3, 4], [5, 6]]

In [27]:
b[0][0]=3
a

[[3, 2], [3, 4], [5, 6]]

# Dictionary2

In [29]:
jihun = dict(name = 'juhun kim',
            age = 20,
            height = 180,
            weight = 80,
            )

In [30]:
'name' in jihun

True

In [31]:
jihun.get('weight',75)

80

In [32]:
jihun.setdefault("age",14)

20

In [33]:
animal = {'dog','cat','money','horse'}
'cat' in animal

True

In [34]:
a= set("animal")
a

{'a', 'i', 'l', 'm', 'n'}

In [35]:
a=set(animal)

In [36]:
a

{'cat', 'dog', 'horse', 'money'}

In [37]:
s1 = {1,2,3}
s2 = {0,1,2,3,4,5}
s1<=s2

True

In [38]:
s1>=s2

False

In [39]:
s1.issuperset(s2)

False

In [40]:
s2.issuperset(s1)

True

In [41]:
s1

{1, 2, 3}

In [42]:
s1.add(4)

In [43]:
s1

{1, 2, 3, 4}

In [44]:
s1.add(5)

In [45]:
s1.remove(1)

In [46]:
s1

{2, 3, 4, 5}

In [47]:
s1.discard(4)

In [48]:
s1

{2, 3, 5}

In [49]:
x= 10 
if x ==10:
    print('x가 10입니다.')

x가 10입니다.

In [50]:
x = 10
if x == 10:
    pass

In [52]:
x == 10
if x == 10:
    print('x is 10')
    print('x is not 12')

x is 10
x is not 12

In [53]:
str_1 = 'Life is too short.'
str_1

'Life is too short.'

In [54]:
if str_1:
    print('실행되었습니다.')

실행되었습니다.

In [55]:
l1 = []

In [56]:
if l1:
    print('비었네?')

In [57]:
if not l1:
    print('비었네?')

비었네?

In [58]:
if None:
    print('이건 none이에요')

In [60]:
if type(str_1)==type(str()):
    print('str_1은 string data-type입니다.')

str_1은 string data-type입니다.

In [15]:
a= input('정수1:')
b= input('정수2:')
c= input('정수3:')

a = int(a)
b = int(b)
c = int(c)

if a not in range(101) or b not in range(101) or c not in range(101):
    print('잘못된 점수가 입력되었습니다.')
elif a>65 and b>65 and c>65:
    print('합격')
else:
    print('불합격')

정수1:68
정수2:68
정수3:68
합격

In [11]:
a = int(input('정수를 입력해주세요:'))
if a == 0:
    print('0은 애매합니다.')
elif a%2 == 1:
    print(f'입력하신 {a}는 홀수입니다.')
else:
     print(f'입력하신 {a}은 짝수입니다.')

정수를 입력해주세요:5
입력하신 5는 홀수입니다.

#  반복문

In [16]:
for i in range(0,10):
    print('현재값 : ' ,i)

현재값 :  0
현재값 :  1
현재값 :  2
현재값 :  3
현재값 :  4
현재값 :  5
현재값 :  6
현재값 :  7
현재값 :  8
현재값 :  9

In [17]:
minsu_profile= {
    'height' : 180,
    'age' : 35,
    'weight' : 72,
    'intro' : '안녕하세요'
    'friends' : ['정수', '철수']
}

SyntaxError: invalid syntax (<ipython-input-17-aa86a3563d1c>, line 6)

In [32]:
a = int(input("정수를 입력하세요:"))
for i in range(a,0,-1):
    print('*'*(i))

정수를 입력하세요:41
*****************************************
****************************************
***************************************
**************************************
*************************************
************************************
***********************************
**********************************
*********************************
********************************
*******************************
******************************
*****************************
****************************
***************************
**************************
*************************
************************
***********************
**********************
*********************
********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [31]:
for i in "Orange":
    print(i, end="  ")

O  r  a  n  g  e

In [33]:
a = ['a', 'b', 'c', 'd']

#  연습문제

In [34]:
for idx, val in enumerate(a):
    print(idx, val,sep=",")

0,a
1,b
2,c
3,d

In [81]:
x = [3,6,9,20,-7,5]
for idx,val in enumerate(x):
    val *= 10
    print(val)

30
60
90
200
-70
50

In [112]:
y = {'math':70, 'science':80,'english':20}
for subject in y:
    y[subject] += 10
print(y)

{'math': 80, 'science': 90, 'english': 30}

In [66]:
a = int(input('정수를 입력하세요'))
print("-"*10)
for i in range(1,10):
    print(f'{a}*{i}={a*i}')

정수를 입력하세요5
----------
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

In [69]:
for i in y:
    print(y[i]+10)

90
100
40

In [70]:
l1 = ['a', 'b', 'c', 'd']
for i in l1:
    print(i)

a
b
c
d

In [71]:
enumerate(y)

In [72]:
type(enumerate(y))

enumerate

In [73]:
print(enumerate(y))

<enumerate object at 0x0000000005BA2B88>

In [90]:
for i in enumerate(y):
    None
print(i)
type(i)
i[0]=4

(2, 'english')

TypeError: 'tuple' object does not support item assignment

In [82]:
idx, val = enumerate(y)

ValueError: too many values to unpack (expected 2)

In [84]:
x = 'string'
y = x
y = y+'a'

In [85]:
print(x)
print(y)

string
stringa

In [91]:
enumerate(y)

In [102]:
minsu_profile= {
    'height' : 180,
    'age' : 35,
    'weight' : 72,
    'intro' : '안녕하세요',
    'friends' : ['정수', '철수']
}

In [105]:
for i in minsu_profile:
    minsu_profile[i] *=2
print(minsu_profile)

{'height': 360, 'age': 70, 'weight': 144, 'intro': '안녕하세요안녕하세요', 'friends': ['정수', '철수', '정수', '철수']}

In [156]:
word=['school','game','piano','science','hote','mountain']
word2=[]
for val in word:
    if len(val)>5:
        print(val)
        word2 += [val]
        

print(word2)

school
science
mountain
['school', 'science', 'mountain']

In [154]:
l1 = [1,2,3]
l2 = list()"akskdkfk"

l1+l2

[1, 2, 3, 'a', 'k', 's', 'k', 'd', 'k', 'f', 'k']

In [122]:
for i in range(1,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')
    print("-"*10)

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
----------
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
----------
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
----------
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
----------
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
----------
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
----------
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
----------
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
----------
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
----------

In [9]:
for a in range(1, 101):
    if a%3==0 and a%5==0:
        print('3과 5의 공배수')
    elif a%3==0:
        print('3의 배수')
    elif a%5==0:
        print('5의 배수')
    else:
        print(a)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [5]:
t = 'moitnsife'
g = 'sdfsdfsdfadsf'
t.index('o')

1

In [8]:
t = ['a','b','v','c','d']
t.append('s')
print(t)
t.extend('g')
print(t)

['a', 'b', 'v', 'c', 'd', 's']
['a', 'b', 'v', 'c', 'd', 's', 'g']

In [29]:
'__iter__' in dir(float)b

False

# while

In [28]:
i = 0
while i<10:
    print('현재값:',i)
    i+=1

현재값: 0
현재값: 1
현재값: 2
현재값: 3
현재값: 4
현재값: 5
현재값: 6
현재값: 7
현재값: 8
현재값: 9

In [23]:
num = '0'
total = 0

while str(num) != 's' and str(num) !='S':
    total += int(num)
    num = input('숫자를 입력하세요: ')
print(f' 합계는 ? {total}')

숫자를 입력하세요: 45898754654879878987
숫자를 입력하세요: 846543215143
숫자를 입력하세요: 4848486579548654
숫자를 입력하세요: S
 합계는 ? 45903603988002642784

In [16]:
import random 
random.random()
random.randint(1,3)

3

### 내가한거

In [43]:
me = int(input('가위(1),바위(2),보(3)을 입력해주세요:'))
user = 0
win =0;
lose =0;
draw =0;
gawe = ['가위','바위','보']
while 0<me<4:
    user = random.randint(1,3)
    if me==1:
        if user==1:
            draw += 1
        elif user==2:
            win +=1
        else:
            lose +=1
    elif me ==2:
        if user==1:
            win += 1
        elif user==2:
            draw +=1
        else:
            lose +=1
    else:
        if user==1:
            lose += 1
        elif user==2:
            win +=1
        else:
            draw+=1
    print(f'나 : {gawe[me-1]}, 컴퓨터 : {gawe[user-1]}')
    me = int(input('가위(1),바위(2),보(3)을 입력해주세요: '))
print(f'게임종료 전체 : {win + lose + draw} , 승리 : {win}, 비김 {draw}, 짐 {lose}')

가위(1),바위(2),보(3)을 입력해주세요:1
나 : 가위, 컴퓨터 : 보
가위(1),바위(2),보(3)을 입력해주세요: 2
나 : 바위, 컴퓨터 : 바위
가위(1),바위(2),보(3)을 입력해주세요: 3
나 : 보, 컴퓨터 : 보
가위(1),바위(2),보(3)을 입력해주세요: 4
게임종료 전체 : 3 , 승리 : 0, 비김 2, 짐 1

### 강사님이 하신거(최대값 구하기)

In [20]:
import random

a=[]

for i in range(100):
    a.append(random.randint(1,1000))
    

# max_a = max(a)

# for i in a:
#     if max_a<i:
#         max_a = i




a.sort(reverse = True)
max_a = a[0]

print('가장 큰 수 : ', max_a)

가장 큰 수 :  988

### 연습문제 8

In [21]:
a = []
total = 0
for i in range(100):
    a.append(random.randint(1,1000))
    
for i in a:
    total += i
    
print(total)

48947

### 연습문제 9

In [24]:
word = ['schodl','game','piano','science','hotel','mountain']
a = [i for i in word if len(i)>5]
a

['schodl', 'science', 'mountain']

In [26]:
word = ['schodl','game','piano','science','hotel','mountain']
a =[len(i) for i in word]
a

[6, 4, 5, 7, 5, 8]

### 2차원 리스트 응용

In [27]:
a = [[10, 20],[30,40],[50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [28]:
a[0][1]

20

In [29]:
a[0].append(10)

In [30]:
a

[[10, 20, 10], [30, 40], [50, 60]]

In [32]:
a[1].extend([1,2])

In [4]:
a

'45'

### 연습문제 9~10

In [14]:
a = [[10,20],[30,40],[50,60]]
b = [[2,3],[4,5],[6,7]]
c = []

# for i in range(len(a)):
#     line = []
#     for j in range(len(a[i])):
#         line.append(a[i][j]*b[i][j])
#     c.append(line)

for i,j in enumerate(a):
    line = []
    for x,y in enumerate(j):
        line.append(b[i][x]*y)
    c.append(line)
    
print(c)

[[20, 60], [120, 200], [300, 420]]

In [21]:
c =[]
# for 
# 1. for문을 통해서 큰 리스트 인덱스를 가져온다.
for i in range(len(a)):
# 2. 각 인덱스를 통해서 a리스트와 b리스트의 작은 리스트 의 값을 가져온다.
    small_a = a[i]
    s_a_0 = a[i][0]
    s_a_1 = a[i][1]
#     print(small_a)
#     print(s_a_0)
#     print(s_a_1)
    small_b = b[i]
    s_b_0 = b[i][0]
    s_b_1 = b[i][1]
#     print(small_b)
#     print(s_b_0)
#     print(s_b_1)
#     print("-"*10)
    
# 3. a리스트와 b리스트의 값을 곱하여 [a[i] * b[i], a[i+1] * b[i+1]]를 추가하겠다.
    c.append([s_a_0*s_b_0, s_a_1*s_b_1])
#처음에 이런식으로 짜고 점차 줄여나가기

print(c)

[[20, 60], [120, 200], [300, 420]]

In [28]:
a = [[10,20,30],[30,40,30],[50,60]]
b = [[2,3,30],[4,5,30],[6,7]]
c = []

for i in range(len(a)):
    d = []
    for j in range(len(a[i])):
        d.append(a[i][j] * b[i][j])
    c.append(d)
    
print(c)

[[20, 60, 900], [120, 200, 900], [300, 420]]

In [4]:
# 심화

c = []
d = []
f = []

for i in range(3):
    line = []
    for j in range(2):
        a = input('첫 번째 리스트 입력 : ')
        line.append(a)
    c.append(line)

print(c)
print("-"*40)
        
for i in range(3):
    line = []
    for j in range(2):
        a = input('두 번째 리스트 입력 : ')
        line.append(a)
    d.append(line)

print(d)
print("-"*40)
    
for i in range(len(c)):
    line = []
    for j in range(len(c[i])):
        line.append(int(c[i][j])*int(d[i][j]))
    f.append(line)
    
print(f)

첫 번째 리스트 입력 : 1
첫 번째 리스트 입력 : 1
첫 번째 리스트 입력 : 1
첫 번째 리스트 입력 : 1
첫 번째 리스트 입력 : 1
첫 번째 리스트 입력 : 1
[['1', '1'], ['1', '1'], ['1', '1']]
----------------------------------------
두 번째 리스트 입력 : 1
두 번째 리스트 입력 : 1
두 번째 리스트 입력 : 1
두 번째 리스트 입력 : 1
두 번째 리스트 입력 : 1
두 번째 리스트 입력 : 1
[['1', '1'], ['1', '1'], ['1', '1']]
----------------------------------------
[[1, 1], [1, 1], [1, 1]]

In [12]:
a = []
n=1

for i in range(3):
    line = []
    for j in range(2):
        line.append(n)
        n +=1
    a.append(line)
    
print(a)

[[1, 2], [3, 4], [5, 6]]

# break , continue

###  break

In [4]:
for i in range(5):
    
    if i ==3:
        break
    print(i)

0
1
2

### continue

In [8]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [ ]:
while True:
    num = int(input('번호를 입력하세요'))
    if num == 1:
        break

In [2]:
i=0
a = int(input('정수를 입력하세요 : '))
while True:
    if i == a:
        break
    print('hi')
    i +=1

정수를 입력하세요 : 4
hi
hi
hi
hi

In [69]:
a = int(input('정수를 입력하세요 : '))
for i in range(1,a+1):
    if i%2 == 1:
        continue
    
    with open('txt.txt','w') as t:
        g = str(i)
        t.write(g)
        
    print(i)

정수를 입력하세요 : 100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 화면 출력

In [8]:
print('출력할 문자를 입력하세요')
print('hello','my','name','is','%s'%'내이름')
print('hello','my','name','is','%s'%'내이름',sep='-')

출력할 문자를 입력하세요
hello my name is 내이름
hello-my-name-is-내이름

In [10]:
print('제 이름은 %s입니다.'%'민수')
print('제 이름은 {0}입니다.'.format('민수'))

제 이름은 민수입니다.
제 이름은 민수입니다.

In [11]:
input('문자를 입력해 주세요')

문자를 입력해 주세요10

'10'

## 파일 입출력

In [12]:
file = open('my_fiel.txt','w')
file.write('This is my file.')
file.close()

In [13]:
file = open('my_fiel.txt','r')
read_str = file.read()
print(read_str)
file.close()

This is your file

In [14]:
type(read_str)

str

In [22]:
target_str = '''안녕하세요,
반갑습니다.
저는 김민수입니다.'''
file = open('my_second_file.txt','w')
file.write(target_str)
file.close()

In [25]:
file = open('my_second_file.txt','r+')
txt = file.read()
file.write('수정할께요')
print(txt)
file.close()

안녕하세요,
반갑습니다.
저는 김민수입니다.수정할께요

####  파일 입출력 뒤에 알파벳 성능
r: 읽기모드 기본 
w : 쓰기 모드 원래있던건 제거
x : 파일이 있으면 오류
a : 이어쓰기
b : 바이너리 파일 열기
t : 텍스트 파일 모드로 파일 열기
.+ +가 붙으면 읽고 쓰는게 다가능

In [28]:
file = open('my_second_file.txt','w+')
file.write('\n 파일 쓰기 연습입니다.')
txt = file.read()
print(txt)
file.close()

In [34]:
a = open('txt.txt','w+')
a.write('연습중입니다 \n 한번만 더 해보겠습니다.')
a.close()

In [37]:
a = open('txt.txt','r+')
a.write('조금만 더 추가해 볼께요')
t = a.read()
print(t)
a.close()

더 해보겠습니다.조금만 더 추가해 볼께요조금만 더 추가해 볼께요

In [43]:
with open('my_file2.txt','w') as f:
    f.write('''재미있는 파이썬 교육 \n 또 하고 싶다
    오늘은 파이썬의 파일
    입출력에 대해 배우고 있습니다. 
    유익한 시간이 되고 있어 좋습니다.''')

In [40]:
with open('my_file2.txt','r') as f:
    tt = f.read()
    print(tt)

재미있는 파이썬 교육
 또 하고 싶다

In [47]:
with open('my_file2.txt','r') as file:
    text = None
    line = file.readlines()
    print(line)

['재미있는 파이썬 교육 \n', ' 또 하고 싶다\n', '    오늘은 파이썬의 파일\n', '    입출력에 대해 배우고 있습니다. \n', '    유익한 시간이 되고 있어 좋습니다.']

In [53]:
str_var = "".join(line)
print(str_var)
print(line)
type(str_var)

재미있는 파이썬 교육
 또 하고 싶다
    오늘은 파이썬의 파일
    입출력에 대해 배우고 있습니다.
    유익한 시간이 되고 있어 좋습니다.
['재미있는 파이썬 교육 \n', ' 또 하고 싶다\n', '    오늘은 파이썬의 파일\n', '    입출력에 대해 배우고 있습니다. \n', '    유익한 시간이 되고 있어 좋습니다.']

str

In [57]:
with open('my_write_example.txt','w') as f:
    f.writelines('tqtqtqtqtqtqtqtqtqtqtqtqtqtqtqtqtt \n qtqtqtqtqtqtqtqtqt')

In [58]:
keys = ['name','age','address']
users = ['tom',20,'inchoen']
dic = dict(zip(keys,users))
print(dic)

{'name': 'tom', 'age': 20, 'address': 'inchoen'}

In [59]:
lis = list(zip(keys,users))
print(lis)

[('name', 'tom'), ('age', 20), ('address', 'inchoen')]

In [61]:
!type txt.txt

조금만 더 추가해 볼께요더 해보겠습니다.조금만 더 추가해 볼께요조금만 더 추가해 볼께요

In [12]:
b = []
a = []
with open('txt.txt','r') as t:
    lines = t.readlines()
    for i,j in enumerate(lines):
        if len(lines[i]) > 5:
            a.append(j)
print(a)

['information\n', 'fantastic\n', 'activity\n', 'homeroom\n', 'importance\n', 'gossip\n', 'dictionary\n', 'artist\n', 'grade\n', 'useful\n', 'allow\n', 'website\n', 'communicate\n']

###  테스트 파일 경로 만들기 & 폴더 만들기

In [14]:
import os
BASE_DIR = os.getcwd()
IO_TEST_DIR = os.path.join(BASE_DIR,'iotest')
if not os.path.exists(IO_TEST_DIR):
    os.makedirs(IO_TEST_DIR)

In [15]:
w_test_path = os.path.join(IO_TEST_DIR,'w_test.txt')

print(w_test_path)

C:\Users\student\study\iotest\w_test.txt

In [19]:
with open(w_test_path,'w') as f:
    f.write('Hello Python!')

In [20]:
with open(w_test_path,'r') as f:
    content = f.read()
print(content)

Hello Python!

In [22]:
a_test_path = os.path.join(IO_TEST_DIR,'a_test.txt')

import shutil

shutil.copy(w_test_path,a_test_path)

os.path.exists(a_test_path)

True

In [23]:
with open(a_test_path,'a') as f:
    f.write(' HI, Machin Learning')

In [24]:
with open(a_test_path,'r') as f:
    po = f.read()
    print(po)

Hello Python! HI, Machin Learning

In [31]:
w_plus_test_path = os.path.join(IO_TEST_DIR,'w_plus_test.txt')
with open(w_plus_test_path,'w') as f:
    f.write('Hello Python!')

AttributeError: '_io.TextIOWrapper' object has no attribute 'tee'

In [27]:
with open(w_plus_test_path,'r') as f:
    pp = f.read()
    print(pp)

Hello Python!

In [29]:
f = open(w_plus_test_path,'w+')
content = f.read()
print(content)

### f.ceek(0) <-- 커서 위치를 0으로 보낸다
### f.tell() <-- 현재 커서 위치 
### 파일 write 사용하면  커서 위치가 변경 커서 오른쪽의 데이터만 읽고 쓸 수 있다.
### r+같은 경우는 앞의 내용이 삭제 되지 않는다.
### w+같은 경우는 앞의 내용이 모두 삭제된다.